# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

name: Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  schedule:
    - cron: "53 0 * * *" # Daily at 00:53 UTC
  # Triggered on push to branch "main" by .github/workflows/release.yaml
  workflow_call:
    outputs:
      artifact-prefix:
        description: build_charm.yaml `artifact-prefix` output
        value: ${{ jobs.build.outputs.artifact-prefix }}

jobs:
  # TODO: Remove this job once we have a common object storage lib upstream
  # This job exists here for us to be able to catch regressions in our lib code,
  # which we are copying at different places for now, until we have a common lib upstream.
  lib-checks:
    name: Check for object_storage lib code consistency across charms
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy: 
      matrix:
        charm:
          - name: test-charm-s3
            libpath: s3/tests/integration/test-charm-s3/lib/charms/data_platform_libs/v0/object_storage.py
          - name: gcs-integrator
            libpath: gcs/lib/charms/data_platform_libs/v0/object_storage.py
          - name: requirer-charm # gcs-integrator test charm
            libpath: gcs/tests/integration/requirer-charm/lib/charms/data_platform_libs/v0/object_storage.py
          - name: azure-storage-integrator
            libpath: azure_storage/lib/charms/data_platform_libs/v0/object_storage.py
          - name: test-charm-azure
            libpath: azure_storage/tests/integration/test-charm-azure/lib/charms/data_platform_libs/v0/object_storage.py
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run lib consistency checks
        run: |
          SOURCE_OF_TRUTH=s3/lib/charms/data_platform_libs/v0/object_storage.py
          cmp ${{ matrix.charm.libpath }} $SOURCE_OF_TRUTH || (echo "Lib code in ${ matrix.charm.name } is not consistent with source of truth!" && exit 1)

  lint:
    name: Lint ${{ matrix.backend }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy: 
      matrix:
        backend: ["s3", "azure_storage", "gcs"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install tox & poetry
        run: |
          pipx install tox
          pipx install poetry
      - name: Run linters
        run: |
          cd ${{ matrix.backend }}
          tox run -e lint

  unit-test:
    name: Unit Test ${{ matrix.backend }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy: 
      matrix:
        backend: ["s3", "azure_storage", "gcs"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install tox & poetry
        run: |
          pipx install tox
          pipx install poetry
      - name: Run tests
        run: |
          cd ${{ matrix.backend }}
          tox run -e unit

  build:
    strategy:
      matrix:
        path:
          # - azure_storage/
          # - azure_storage/tests/integration/test-charm-azure
          - s3/
          - s3/tests/integration/test-charm-s3
          - s3/tests/integration/test-charm-s3-v0
          # - gcs/
          # - gcs/tests/integration/requirer-charm
    name: Build charm | ${{ matrix.path }}
    uses: canonical/data-platform-workflows/.github/workflows/build_charm.yaml@v40.0.2
    with:
      path-to-charm-directory: ${{ matrix.path }}
      cache: false

  integration-test:
    name: Integration test charm
    needs:
      - lint
      - unit-test
      - build
    uses: ./.github/workflows/integration_test.yaml
    with:
      artifact-prefix: ${{ needs.build.outputs.artifact-prefix }}

  release-to-test-branch:
    name: Release charm to test branch
    if: false # Temporarily disable until we have the test branch setup and ready
    strategy:
      matrix:
        charm:
          - path: azure_storage/
            track: latest
          - path: s3/
            track: 2
          - path: gcs/
            track: 1
    needs:
      - lib-checks
      - lint
      - unit-test
      - build
    uses: canonical/data-platform-workflows/.github/workflows/release_charm_pr.yaml@v40.0.2
    with:
      track: ${{ matrix.charm.track }}
      artifact-prefix: ${{ needs.build.outputs.artifact-prefix }}
      path-to-charm-directory: ${{ matrix.charm.path }}
    secrets:
      charmhub-token: ${{ secrets.CHARMHUB_TOKEN }}
    permissions:
      contents: write # Needed to create git tags
