# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

name: Release to Charmhub

on:
  push:
    branches:
      - main

jobs:

  ci-tests:
    needs:
      - lib-check
    name: Tests
    uses: ./.github/workflows/ci.yaml
    secrets: inherit

  release:
    name: Release charm
    strategy:
      matrix:
        charm:
          - path: azure_storage/
            track: latest
          - path: s3/
            track: 2
          - path: gcs/
            track: 1
    needs:
      - lib-check
      - ci-tests
    uses: canonical/data-platform-workflows/.github/workflows/release_charm_edge.yaml@v40.0.2
    with:
      track: ${{ matrix.charm.track }}
      artifact-prefix: ${{ needs.ci-tests.outputs.artifact-prefix }}
      path-to-charm-directory: ${{ matrix.charm.path }}
    secrets:
      charmhub-token: ${{ secrets.CHARMHUB_TOKEN }}
    permissions:
      contents: write # Needed to create git tags
